html, body {
    margin: 0;
    padding: 0;
}

.row, .col {
    padding: 0;
    margin: 0;
}

    .row .col {
        margin: 0;
        padding: 0;
    }
.logo{
   width: 200px;
   display: inline-block;
}
#map-canvas {
    width: 100%;
    height: 700px;
}

#searchbox {
    margin-top: 15px;
}

    #searchbox input {
        padding-left: 0.75rem  !important;
        box-sizing: border-box;
    }
    #searchbox .btn {
        padding-left: 0.75rem  !important;
        box-sizing: border-box;
    }
.search-button-continer {
    float: left;
}

.margin-control{
    margin-left: 15px !important;
}


#searchbox .btn {
    width: 100% !important;
}

.collapsible-header {
    padding: 0 15px;
}

.drive-info{
    padding: 15px !important;
}
.actions-container {
    padding:0 5px;
}
.actions-container .col{
    padding: 5px;
}

.modal{
    width: 500px;
    /*height: 500px !important;*/
     overflow: visible !important;
}
.modal-content{
    overflow: visible !important;
}
.picker__holder{
    overflow: visible !important;
    user-select: none;
}
.modal .input-field{
    width: 100% !important;
    padding: 0 7px;
   
}
.modal-footer{
    z-index: -1 !important;
}